################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/CMakeLists.txt.user
/CMakeUserPresets.json
/build/
*.user